<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        /* Custom CSS for the chart container */
        #top_x_div {
            width: 100%;
            height: 100vh;
            /* Set the height to 100% of the viewport height */
            margin: 0 auto;
        }

        /* Style the chart title */
        .google-visualization-title {
            font-size: 24px;
            font-weight: bold;
        }

        /* Style the chart subtitle */
        .google-visualization-subtitle {
            font-size: 16px;
            font-style: italic;
        }

        /* Style the x-axis label */
        .google-visualization-chart-xaxis-label {
            font-size: 14px;
            font-weight: bold;
        }

        /* Style the chart bars */
        .google-visualization-bar {
            fill: #4285F4;
            /* Change the fill color of the bars */
        }

        /* Style the chart axis tick labels */
        .google-visualization-axis-label {
            font-size: 12px;
        }

        /* Style the chart axis lines */
        .google-visualization-gridline {
            stroke: #ccc;
            /* Change the color of the gridlines */
        }

        /* Style the chart legend */
        .google-visualization-legend {
            font-size: 14px;
        }

        /* Style the chart tooltip */
        .google-visualization-tooltip {
            font-size: 14px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 10px;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon web  -->
    <link rel="icon" type="image/x-icon" href="../../img/logoMark.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS: -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="/javascripts/library-js/angular.min.js"></script>
    <script src="/javascripts/library-js/angular-route.js"></script>
    <!-- Bootstrap JavaScript: -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <!-- link icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!--link css -->
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/revenue-page.css">
    <title>Manager revenue</title>
</head>

<body>
    <div class="background-manager">
        <nav id="Manager_Navigation" th:include="components/Manager-navigation"></nav>
        <div id="Manager_Content" ng-app="app" ng-controller="ctrl-revenue">
            <div class="header_content">
                <div class="header_content_text-group">
                    <h3 class="header_content_main-text text-title">Doanh thu</h3>
                    <h5 class="header_content_sub-text text-title">Tổng hợp và thống kê lại doanh thu của trang web
                        theo thời gian thực</h5>
                </div>
                <div class="header_content_button-group">
                    <form action="" method="post">
                        <button class="btn btn-export btn-style"><i class="bi bi-cloud-download icon-text"></i> Xuất
                            file</button>
                    </form>
                </div>
            </div>
            <div class="body_content">
                <div class="tab-pane active" id="list_blogs" role="tabpanel" aria-labelledby="list-blogs-tab">
                    <!-- Bieeur ddo 1 -->
                    <div id="top_x_div" style="width: 100%; height: 700px; text-align: center;"></div>
                    <!-- Bieu do 2 -->
                    <div id="chart_div"></div>
                    <br />
                    <div id="btn-group">
                        <button
                            style="background-color: gainsboro ; margin-bottom: 50px; padding: 5px; margin-left: 5px; border-radius: 10px; border: none;"
                            class="button" id="none">No Format</button>
                        <button
                            style="background-color: gainsboro ; margin-bottom: 50px; padding: 5px; margin-left: 5px; border-radius: 10px; border: none;"
                            class="button" id="scientific">Scientific Notation</button>
                        <button
                            style="background-color: gainsboro ; margin-bottom: 50px; padding: 5px; margin-left: 5px; border-radius: 10px; border: none;"
                            class="button" id="decimal">Decimal</button>
                        <button
                            style="background-color: gainsboro ; margin-bottom: 50px; padding: 5px; margin-left: 5px; border-radius: 10px; border: none;"
                            class="button" id="short">Short</button>
                    </div>
                    <div class="list_blogs-header">
                        <div class="list_blogs-header-seletion-group" style="margin-left: 20px;">
                        </div>
                        <div class="list_blogs-header-search-group">
                            <form action="">
                                <div class="input-group mb-3">
                                    <button class="btn btn-outline-secondary box-shadow-none" type="button"
                                        id="button-search"><i class="bi bi-search"></i></button>
                                    <input type="text" class="form-control box-shadow-none" placeholder="Tìm kiếm"
                                        aria-label="Example text with button addon" aria-describedby="button-search">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="list_blogs-body">
                        <div class="table-responsive">

                            <table class="table table-striped m-0">
                                <thead>
                                    <tr>
                                        <th scope="col">Sản phẩm</th>
                                        <th></th>
                                        <th scope="col">Số lượng mua</th>
                                        <th scope="col">Giá sản phẩm</th>
                                        <th scope="col">Tổng tiền</th>
                                        <th scope="col">Ngày mua</th>
                                        <th scope="col">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dhct in list_thongkesanpham">
                                        <td scope="row" class="td-first-table">
                                            <div class="text-blogs-group">
                                                <h6 class="text-title-blogs text-title">{{dhct.sanPham.tenSanPham}}</h6>
                                                <p class="text-id-blogs text-title">Mã sản phẩm:
                                                    {{dhct.sanPham.idSanPham}}</p>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td>{{dhct.soLuong}}</td>
                                        <td>{{dhct.sanPham.giaSanPham}}</td>
                                        <td>{{dhct.soLuong * dhct.sanPham.giaSanPham}}</td>
                                        <td>{{dhct.ngayMuaSanPham}}</td>
                                        <td>
                                            <button class="btn" style="color: var(--gray_500);"><i
                                                    class="bi bi-trash3"></i></button>
                                            <button class="btn" style="color: var(--gray_500);"><i
                                                    class="bi bi-pen"></i></button>
                                        </td>

                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td style="text-align: left;">
                                            <button ng-if="infor_tksp.number == 0"
                                                class="btn-style btn-prev m-0 disnable">Trước đó</button>
                                            <button ng-if="infor_tksp.number > 0"
                                                ng-click="load_data_thongkesanpham(infor_tksp.number - 1)"
                                                class="btn-style btn-prev m-0">Trước đó</button>
                                            <button ng-if="infor_tksp.number < infor_tksp.totalPages - 1"
                                                ng-click="load_data_thongkesanpham(infor_tksp.number + 1)"
                                                class="btn-style btn-next m-0">Kế tiếp</button>
                                            <button ng-if="infor_tksp.number == infor_tksp.totalPages - 1"
                                                class="btn-style btn-next m-0 disnable">Kế tiếp</button>
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            Trang {{infor_tksp.number + 1}} của {{infor_tksp.totalPages}}
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>


                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Nhúng biểu đồ thống kê -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- Biểu đồ tròn 3D -->
    <script src="/javascripts/manager-js/Manager-revenue.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/javascripts/manager-js/Manager-demo.js"></script>
</body>

</html>