<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon web  -->
    <link rel="icon" type="image/x-icon" href="../../img/logoMark.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS: -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- link javaSprict -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JavaScript: -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- link icon -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!--link css -->
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/account-page.css">
    <title>Manager account</title>
</head>

<body>
    <div class="background-manager">
        <nav id="Manager_Navigation" th:include="components/Manager-navigation"></nav>
        <div id="Manager_Content">
            <div class="header_content">
                <div class="header_content_text-group">
                    <h3 class="header_content_main-text text-title">Quản lý tài khoản</h3>
                    <h5 class="header_content_sub-text text-title">Quản lý tài khoản đang hoạt động tại trang web</h5>
                </div>
            </div>
            <div class="body_content">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs body_content_tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button style="background-color: var(--gray_50); border: 1px solid var(--gray_300);"
                            class="btn-style active" id="list-accout-tab" data-bs-toggle="tab"
                            data-bs-target="#list_blogs" type="button" role="tab" aria-controls="list_blogs"
                            aria-selected="true">Danh sách tài khoản</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="btn-style" id="form-account-tab" data-bs-toggle="tab"
                            data-bs-target="#form_blogs" type="button" role="tab" aria-controls="form_blogs"
                            aria-selected="false">Chi tiết tài
                            khoản</button>
                    </li>
                </ul>
                <hr>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="list_blogs" role="tabpanel" aria-labelledby="list-accout-tab">
                        <div class="list_blogs-header">
                            <div class="list_blogs-header-seletion-group">
                                <form action="/Manager/account/sort" method="post">
                                    <div class="mb-3" style="margin-right: 10px;">
                                        <a class="btn btn-style filte-sort" id="sort-down-id" style="height: 100%;"><i
                                                class="bi bi-sort-up"></i></a>
                                        <a class="btn btn-style filte-sort" id="sort-up-id"
                                            style="height: 100%;display: none;"><i class="bi bi-sort-down-alt"></i></a>
                                    </div>
                                    <div class="btn-group mb-3" style="margin-right: 20px;">
                                        <select class="form-select form-select-lg" name="fieldSort">
                                            <option value="false">Theo người
                                                dùng</option>
                                            <option value="true">Theo nhân viên</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="list_blogs-header-search-group">
                                <form action="/Manager/account/search" method="post">
                                    <div class="input-group mb-3">
                                        <button class="btn btn-outline-secondary box-shadow-none" type="button"
                                            id="button-search"><i class="bi bi-search"></i></button>
                                        <input type="text" name="usernameSearch" class="form-control box-shadow-none"
                                            placeholder="Tìm kiếm" aria-label="Example text with button addon"
                                            aria-describedby="button-search">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="list_blogs-body">
                            <div class="table-responsive">
                                <table class="table table-striped m-0">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="text-align: left;">
                                                <form action="" method="post">
                                                    <input class="form-check-input box-shadow-none"
                                                        style="margin-right: 10px;" name="" id="" type="checkbox"
                                                        value="checkedValue" aria-label="Text for screen reader">
                                                    Tài khoản
                                                    <i class="bi bi-arrow-down"></i>
                                                </form>
                                            </th>
                                            <th scope="col">Ngày đăng ký</th>
                                            <th scope="col">Vai trò</th>
                                            <th scope="col">Trạng thái</th>
                                            <th scope="col">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <form action="">
                                                <td scope="row" class="td-first-table">
                                                    <div class="text-blogs-group">
                                                        <h4 class="text-title-blogs text-title">thinhokzz11</h4>
                                                        <h6 class="text-id-blogs text-title">nlphucthnh@gmail.com</h6>
                                                    </div>
                                                </td>
                                                <!-- <td th:text="${#dates.format(account.ngayDangKy, 'dd/MM/yyyy')}" ></td> -->
                                                <td>12/21/3243</td>
                                                <td>Người dùng thường</td>
                                                <td><span class="badge badge-green">Đang hoạt động</span></td>
                                                <td>
                                                    <button class="btn" style="color: var(--gray_600);"><i
                                                            class="bi bi-trash-fill"></i></button>
                                                    <button class="btn" style="color: var(--gray_600);"><i
                                                            class="bi bi-pen-fill"></i></button>
                                                </td>
                                            </form>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td style="text-align: left;">
                                                <!-- <a class="btn-style btn-prev disnable"
                                                    th:if="${PageTK.number == 0}">Trước đó</a>
                                                <a class="btn-style btn-prev" th:if="${PageTK.number > 0}"
                                                    th:href="@{/Manager/account?page=__${PageTK.number-1}__}">Trước
                                                    đó</a>
                                                <a class="btn-style btn-next"
                                                    th:if="${PageTK.number < PageTK.totalPages - 1}"
                                                    th:href="@{/Manager/account?page=__${PageTK.number+1}__}">Kế
                                                    tiếp</a>
                                                <a class="btn-style btn-next disnable"
                                                    th:if="${PageTK.number == PageTK.totalPages - 1}">Kế tiếp</a> -->
                                                    <button class="btn-style btn-prev m-0">Trước đó</button>
                                                    <button class="btn-style btn-next m-0">Kế tiếp</button>
                                                <br>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td >Trang 1 của 10 </td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="form_blogs" role="tabpanel" aria-labelledby="form-account-tab">
                        <div class="form_blogs-pane">
                            <form action="">
                                <div class="group-fleld group-fleld-01">
                                    <div class="mb-3 form-group">
                                        <label for="username_account" class="form-label">Tên đăng nhập</label>
                                        <input type="text" name="username-account" id="username_account"
                                            class="form-control box-shadow-none" placeholder="">
                                        <!-- <small id="helpId" class="text-muted">Help text</small> -->
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="password_account" class="form-label">Mật khẩu</label>
                                        <input type="text" name="password-account" id="password_account"
                                            class="form-control box-shadow-none" placeholder="">
                                        <!-- <small id="helpId" class="text-muted">Help text</small> -->
                                    </div>
                                </div>
                                <div class="group-fleld group-fleld-02">
                                    <div class="mb-3 form-group">
                                        <label for="email_account" class="form-label">Email</label>
                                        <input type="email"  name="email-account" id="email_account"
                                            class="form-control box-shadow-none" placeholder="">
                                        <!-- <small id="helpId" class="text-muted">Help text</small> -->
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="date_account" class="form-label">Ngày đăng ký</label>
                                        <input type="date" name="date-account" id="date_account" aria-describedby="img-blog"
                                            class="form-control box-shadow-none" placeholder="">
                                        <!-- <small id="helpId" class="text-muted">Help text</small> -->
                                    </div>
                                </div>
                                <div class="group-fleld group-fleld-03">
                                    <div class="mb-3 form-group">
                                        <label for="status_account" class="form-label">Trạng thái</label>
                                        <select class="form-control  box-shadow-none" name="status-account" id="status_account"
                                            aria-describedby="calendar">
                                            <option selected>Đang hoạt động</option>
                                            <option value="">Dừng hoạt động</option>
                                        </select>
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="role_account" class="form-label">Vai trò</label>
                                        <select class="form-control  box-shadow-none" name="role-account" id="role_account"
                                            aria-describedby="calendar">
                                            <option value="false">Theo người dùng</option>
                                            <option value="true">Theo nhân viên</option>
                                            
                                        </select>
                                    </div>

                                </div>
                                <div class="group-fleld group-fleld-05">
                                    <button class="btn btn-style btn-clear"><i class="bi-brush"></i></button>
                                    <button class="btn btn-style btn-update">Cập nhật</button>
                                    <button class="btn btn-style btn-add">Thêm mới</button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/javascripts/manager-js/Manager-account.js"></script>
</html>