<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon web  -->
    <link rel="icon" type="image/x-icon" href="../../img/logoMark.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS: -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/library-js/angular.min.js"></script>
    <script src="/javascripts/library-js/angular-route.js"></script>
    <!-- link javaSprict -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JavaScript: -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    <!-- link icon -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!--link css -->
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/account-page.css">
    <title>Manager account</title>
</head>

<body ng-app="app" ng-controller="ctrl-acc">
    <div class="background-manager">
        <nav id="Manager_Navigation" th:include="components/Manager-navigation"></nav>
        <div id="Manager_Content">
            <div class="header_content">
                <div class="header_content_text-group">
                    <h3 class="header_content_main-text text-title">Quản lý tài khoản</h3>
                    <h5 class="header_content_sub-text text-title">Quản lý tài khoản đang hoạt động tại trang web</h5>
                </div>
                <div class="header_content_button-group">
                    <button class="btn btn-style" data-bs-toggle="modal" data-bs-target="#modalId"
                        style="padding: 10px;">Tài khoản không vai trò</button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
                    aria-hidden="true">
                    <div class="modal-dialog modal-sm  modal-dialog-scrollable modal-dialog-centered modal-lg"
                        role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitleId">Danh sách tài khoản không quyền</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-bordered table-striped-columns">
                                    <thead>
                                        <tr>
                                            <th style="text-align: left !important; " scope="col">Tên đăng nhập</th>
                                            <th style="text-align: left !important; " scope="col">Email</th>
                                            <th scope="col">Trạng thái</th>
                                            <th scope="col">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="tk in list_tk_notrole">
                                            <td style="text-align: left !important; " scope="row">{{tk.tenDangNhap}}</td>
                                            <td style="text-align: left !important;">{{tk.email}}</td>
                                            <td ng-if="tk.trangThai"><span class="badge badge-green">Đang hoạt động</span> </td>
                                        <td ng-if="!tk.trangThai"><span class="badge badge-red">Dừng hoạt động</td>
                                            <td>
                                                <button ng-click="edit_acc2(tk)" class="btn"
                                                    style="color: var(--gray_600);"><i data-bs-dismiss="modal"
                                                        aria-label="Close" class="bi bi-pen-fill"></i></button>
                                                <button ng-click="delete_acc(tk.tenDangNhap)" class="btn"
                                                    style="color: var(--gray_600);"><i
                                                        class="bi bi-trash-fill"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body_content">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs body_content_tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button style="background-color: var(--gray_50); border: 1px solid var(--gray_300);"
                            class="btn-style active" id="list-accout-tab" data-bs-toggle="tab"
                            data-bs-target="#list_blogs" type="button" role="tab" aria-controls="list_blogs"
                            aria-selected="true">Danh sách tài khoản</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="btn-style" id="form-account-tab" data-bs-toggle="tab"
                            data-bs-target="#form_blogs" type="button" role="tab" aria-controls="form_blogs"
                            aria-selected="false">Chi tiết tài
                            khoản</button>
                    </li>
                </ul>
                <hr>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="list_blogs" role="tabpanel" aria-labelledby="list-accout-tab">
                        <div class="list_blogs-header">
                            <div class="list_blogs-header-seletion-group d-flex">
                                <div class="mb-3" style="margin-right: 10px;">
                                    <button ng-click="sort_list_vttk(false)" class="btn btn-style filte-sort"
                                        id="sort-down-id" style="height: 100%;"><i class="bi bi-sort-up"></i></button>
                                    <button ng-click="sort_list_vttk(true)" class="btn btn-style filte-sort"
                                        id="sort-up-id" style="height: 100%;display: none;"><i
                                            class="bi bi-sort-down-alt"></i></button>
                                </div>
                                <div class="mb-3" style="margin-right: 20px;">
                                    <select class="form-select form-select-lg" name="sortField" id="status_account">
                                        <option value="" selected>Tất cả trạng thái</option>
                                        <option value="true">Đang hoạt động</option>
                                        <option value="false">Dùng hoạt động</option>
                                    </select>
                                </div>
                                <div class="mb-3" style="margin-right: 20px;">
                                    <select class="form-select form-select-lg" name="sortField" id="role_account">
                                        <option value="USER">Người dùng</option>
                                        <option value="STAFF">Nhân viên</option>
                                        <option value="ADMIN">Quản trị viên</option>
                                    </select>
                                </div>
                                <div class="mb-3" style="margin-right: 20px;">
                                </div>
                                <button style="display: none;" id="Sort">Sắp sếp</button>
                            </div>
                            <div class="list_blogs-header-search-group">
                                <div class="input-group mb-3">
                                    <button ng-click="paging_data_vttk(text_search,0)"
                                        class="btn btn-outline-secondary box-shadow-none" type="button"
                                        id="button-search"><i class="bi bi-search"></i></button>
                                    <input ng-model="text_search" type="text" class="form-control box-shadow-none"
                                        name="searchText" placeholder="Tìm kiếm"
                                        aria-label="Example text with button addon" aria-describedby="button-search">
                                </div>
                            </div>
                        </div>
                        <div class="list_blogs-body">
                            <div class="table-responsive">
                                <table class="table table-striped m-0">
                                    <thead>
                                        <tr>
                                            <th scope="col"> Tài khoản</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Vai trò</th>
                                            <th scope="col">Trạng thái</th>
                                            <th scope="col">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            ng-repeat="vttk in list_vttk | orderBy : sort_list |  filter : { vaiTro : { idVaiTro : role_account } , taiKhoan : { trangThai : status_account} }">
                                            <td scope="row" class="td-first-table">
                                                <div class="text-blogs-group">
                                                    <h4 class="text-title-blogs text-title">
                                                        {{vttk.taiKhoan.tenDangNhap}}</h4>
                                                    <h6 class="text-id-blogs text-title">{{vttk.taiKhoan.email}}</h6>
                                                </div>
                                            </td>
                                            <td>{{vttk.taiKhoan.email}}</td>
                                            <td>{{vttk.vaiTro.idVaiTro}}</td>
                                            <td ng-if="vttk.taiKhoan.trangThai"><span class="badge badge-green">Đang
                                                    hoạt động</span>
                                            </td>
                                            <td ng-if="!vttk.taiKhoan.trangThai"><span class="badge badge-red">Dừng hoạt
                                                    động</span>
                                            </td>
                                            <td>
                                                <button ng-click="edit_acc(vttk)" class="btn"
                                                    style="color: var(--gray_600);"><i
                                                        class="bi bi-pen-fill"></i></button>
                                                <button ng-click="delete_vttk(vttk.idVaiTroTaiKhoan)" class="btn"
                                                    style="color: var(--gray_600);"><i
                                                        class="bi bi-trash-fill"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td style="text-align: left;">
                                                <button ng-if="infor_vttk.number == 0"
                                                    class="btn-style btn-prev m-0 disnable">Trước đó</button>
                                                <button ng-if="infor_vttk.number > 0"
                                                    ng-click="paging_data_vttk(text_search,infor_vttk.number - 1)"
                                                    class="btn-style btn-prev m-0">Trước đó</button>
                                                <button ng-if="infor_vttk.number < infor_vttk.totalPages - 1"
                                                    ng-click="paging_data_vttk(text_search,infor_vttk.number + 1)"
                                                    class="btn-style btn-next m-0">Kế tiếp</button>
                                                <button ng-if="infor_vttk.number == infor_vttk.totalPages - 1"
                                                    class="btn-style btn-next m-0 disnable">Kế tiếp</button>
                                                <br>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td> Trang {{infor_vttk.number + 1}} của {{infor_vttk.totalPages}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>


                    </div>
                    <div class="tab-pane" id="form_blogs" role="tabpanel" aria-labelledby="form-account-tab">
                        <div class="form_blogs-pane">
                            <form name="accountForm">
                                <div class="group-fleld group-fleld-01">
                                    <div class="mb-3 form-group">
                                        <label for="username_account" class="form-label">Tên đăng nhập</label>
                                        <input  type="text" ng-model="form_acc.tenDangNhap" name="txtUsername"
                                            id="username_account" class="form-control box-shadow-none" placeholder=""
                                            required>
                                        <small ng-if="!accountForm.txtUsername.$valid"
                                            class="text-muted color-style-validate">Vui lòng
                                            nhập Tên đăng nhập</small>
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="password_account" class="form-label">Mật khẩu</label>
                                        <input type="password" ng-model="form_acc.matKhau" name="txtPassword"
                                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="password_account"
                                            class="form-control box-shadow-none"
                                            title="Phải chứa ít nhất một số và một chữ hoa và chữ thường và ít nhất 8 ký tự trở lên"
                                            required>
                                        <small ng-if="!accountForm.txtPassword.$valid"
                                            class="text-muted color-style-validate">Vui lòng
                                            nhập mật khẩu</small>
                                    </div>
                                </div>

                                <div class="group-fleld group-fleld-03">
                                    <div class="mb-3 form-group">
                                        <label for="status_account" class="form-label">Trạng thái</label>
                                        <select ng-model="form_acc.trangThai" class="form-control  box-shadow-none"
                                            name="status-account" id="status_account" aria-describedby="calendar">
                                            <option value="true">Đang hoạt động</option>
                                            <option value="false">Dừng hoạt động</option>
                                        </select>
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="email_account" class="form-label">Email</label>
                                        <input type="email" ng-model="form_acc.email" name="txtEmail" id="email_account"
                                            class="form-control box-shadow-none" title="Email không hợp lệ" required>
                                        <small ng-if="!accountForm.txtEmail.$valid"
                                            class="text-muted color-style-validate">Vui lòng
                                            nhập email</small>
                                    </div>
                                </div>
                                <div class="group-fleld mb-3 form-group" style="margin: 3px auto !important; ">
                                    <label for="role_account" class="form-label">Các vai trò</label>
                                </div>
                                <div class="group-fleld group-fleld-06">
                                    <div class="mb-3 form-group check-box-size">
                                        <div
                                            class="form-check m-0 p-0 d-flex align-items-center justify-content-between">
                                            <h6 class="text-title">Người dùng</h6>
                                            <input style="pointer-events: none;"
                                                class="form-check-input form-control box-shadow-none" type="checkbox"
                                                value="USER" id="USER" name="sizecheck">
                                        </div>
                                    </div>
                                    <div class="mb-3 form-group check-box-size">
                                        <div
                                            class="form-check m-0 p-0 d-flex align-items-center justify-content-between">
                                            <h6 class="text-title">Nhân Viên</h6>
                                            <input style="pointer-events: none;"
                                                class="form-check-input form-control box-shadow-none" type="checkbox"
                                                value="STAFF" id="STAFF" name="sizecheck">
                                        </div>
                                    </div>
                                    <div class="mb-3 form-group check-box-size">
                                        <div
                                            class="form-check m-0 p-0 d-flex align-items-center justify-content-between">
                                            <h6 class="text-title">Quản trị viên</h6>
                                            <input style="pointer-events: none;"
                                                class="form-check-input form-control box-shadow-none" type="checkbox"
                                                value="ADMIN" id="ADMIN" name="sizecheck">
                                        </div>
                                    </div>
                                </div>
                                <div class="group-fleld group-fleld-05">
                                    <button ng-click="reset_acc()" class="btn btn-style"><i
                                            class="bi-brush"></i></button>
                                    <button ng-click="update_acc()" class="btn btn-style btn-update btn-update-acc">Cập
                                        nhật</button>
                                    <button ng-if="!accountForm.$valid" class="btn btn-style btn-add btn-add-acc">Thêm
                                        mới</button>
                                    <button ng-if="accountForm.$valid" ng-show="accountForm.$valid"
                                        ng-click="create_acc()" class="btn btn-style btn-add btn-add-acc">Thêm
                                        mới</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="/javascripts/manager-js/Manager-account.js"></script>

</html>