<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon web  -->
    <link rel="icon" type="image/x-icon" href="../../img/logoMark.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS: -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- link javaSprict -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/library-js/angular.min.js"></script>
    <script src="/javascripts/library-js/angular-route.js"></script>
    <!-- Bootstrap JavaScript: -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- link icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!--link css -->
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/filter-page.css">
    <title>Manager filter</title>
</head>

<body ng-app="app">
    <div class="background-manager">
        <nav id="Manager_Navigation" th:include="components/Manager-navigation"></nav>
        <div id="Manager_Content">
            <div class="header_content">
                <div class="header_content_text-group">
                    <h3 class="header_content_main-text text-title">Phân loại và khuyễn mãi</h3>
                    <h5 class="header_content_sub-text text-title">Tab dành cho phân nhóm sản phẩm và khuyến mãi</h5>
                </div>
            </div>
            <div class="body_content">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs body_content_tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="btn-style btn-tab active"
                            style="background-color: var(--gray_50); border: 1px solid var(--gray_300);"
                            id="nhomLoai-tab" data-bs-toggle="tab" data-bs-target="#nhomLoai" type="button" role="tab"
                            aria-controls="nhomLoai" aria-selected="true">Nhóm loại</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="btn-style btn-tab" id="form-promotion-tab" data-bs-toggle="tab"
                            data-bs-target="#form-promotion" type="button" role="tab" aria-controls="form-promotion"
                            aria-selected="false">Khuyến mãi</button>
                    </li>
                </ul>
                <hr>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div ng-controller="ctrl-nl" class="tab-pane active" id="nhomLoai" role="tabpanel"
                        aria-labelledby="nhomLoai-tab">
                        <div class="infor-filter-container">
                            <h5 class="infor-filter-container-title container-item text-title">Thông tin nhóm loại</h5>
                            <div class="container-fluid" style="width: 96%; margin: 20px auto;">
                                <div class="form-group-modal form-group-modal-01">
                                    <div class="mb-3 form-group">
                                        <label for="" class="form-label">Mã nhóm loại</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="id-produser">NL</span>
                                            <input ng-model="form_nl.idNhomLoai" style="pointer-events: none;"
                                                type="number" value="0" class="form-control box-shadow-none"
                                                placeholder="" aria-describedby="id-produser">
                                        </div>
                                        <!-- <small id="helpId" class="text-muted">Help text</small> -->
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="" class="form-label">Tên nhóm loại</label>
                                        <input ng-model="form_nl.tenNhomLoai" type="text" name="" id=""
                                            class="form-control box-shadow-none" placeholder="">
                                        <!-- <small id="helpId" class="text-muted">Help text</small> -->
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="" class="form-label">Ngày tạo</label>
                                        <input date='dd-MM-yyyy' ng-model="form_nl.ngayTao" type="date"
                                            id="nl_create_date_id" class="form-control box-shadow-none" placeholder="">
                                        <!-- <small id="helpId" class="text-muted">Help text</small> -->
                                    </div>
                                </div>
                                <div class="form-group-modal form-group-modal-02">
                                    <div class="mb-3 form-group">
                                        <label for="" class="form-label">Mô tả nhóm loại</label>
                                        <textarea ng-model="form_nl.moTaNhomLoai" class="form-control box-shadow-none"
                                            name="" id="" rows="9"></textarea>
                                    </div>
                                </div>
                                <div class="group-fleld group-fleld-04 d-flex">
                                    <button ng-click="reset_nl()" class="btn btn-style btn-clear"><i
                                            class="bi-brush"></i></button>
                                    <button id="btn-update-nl" ng-click="update_nl(form_nl)"
                                        class="btn btn-style btn-update">Cập nhật</button>
                                    <button ng-click="create_nl()" id="btn-add-nl" class="btn btn-style btn-add">Thêm
                                        mới</button>
                                </div>

                            </div>
                            <hr style="width: 95%; margin: 20px auto;">
                            <div class="table-responsive container-item">
                                <table class="table m-0">
                                    <div class="on-the-table">
                                        <h6 class="text-on-table text-title">Nhóm loại sản phẩm</h6>
                                    </div>
                                    <thead>
                                        <tr class="table-active">
                                            <th scope="col" style="text-align: left;">
                                                <form action="" method="post">
                                                    Nhóm loại
                                                </form>
                                            </th>
                                            <th scope="col">Mã nhóm loại</th>
                                            <th scope="col">Ngày tạo</th>
                                            <th scope="col">Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="nl in list_nl">
                                            <td scope="row" class="td-first-table">
                                                {{nl.tenNhomLoai}}
                                            </td>
                                            <td>{{nl.idNhomLoai}}</td>
                                            <td>{{convert_date(nl.ngayTao)}}</td>
                                            <td>
                                                <button ng-click="edit_nl(nl)" class="btn btn-edit-nl"
                                                    style="color: var(--gray_600);"><i class="bi bi-pen"></i></button>
                                                <button ng-click="delete_nl(nl.idNhomLoai)" class="btn"
                                                    style="color: var(--gray_600);"><i class="bi bi-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td style="text-align: left;">
                                                <button ng-if="infor_nl.number == 0"
                                                    class="btn-style btn-prev m-0 disnable">Trước đó</button>
                                                <button ng-if="infor_nl.number > 0"
                                                    ng-click="paging_data_nl(infor_nl.number - 1)"
                                                    class="btn-style btn-prev m-0">Trước đó</button>
                                                <button ng-if="infor_nl.number < infor_nl.totalPages - 1"
                                                    ng-click="paging_data_nl(infor_nl.number + 1)"
                                                    class="btn-style btn-next m-0">Kế tiếp</button>
                                                <button ng-if="infor_nl.number == infor_nl.totalPages - 1"
                                                    class="btn-style btn-next m-0 disnable">Kế tiếp</button>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td style="text-align: center;">
                                                Trang {{infor_nl.number + 1}} của {{infor_nl.totalPages}}
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>

                    </div>
                    <div ng-controller="ctrl-km" class="tab-pane" id="form-promotion" role="tabpanel"
                        aria-labelledby="form-promotion-tab">
                        <div class="form-promotion-pane">
                            <div class="group-fleld group-fleld-01">
                                <h5 class="form-promotion-container-title text-title">Thông tin khuyến mãi</h5>
                            </div>
                            <div class="group-fleld group-fleld-02">
                                <div class="mb-3 form-group">
                                    <label for="date-start_promotion" class="form-label">Ngày bắt đầu</label>
                                    <input ng-model="form_km.ngayBatDau" type="date" name="date_start_promotion"
                                        id="date-start_promotion" class="form-control box-shadow-none" placeholder="">
                                </div>
                                <div class="mb-3 form-group">
                                    <label for="date-end_promotion" class="form-label">Ngày kết thúc</label>
                                    <input ng-model="form_km.ngayKetThuc" type="date" name="date_end_promotion"
                                        id="date-end_promotion" class="form-control box-shadow-none" placeholder="">
                                </div>
                                <div class="mb-3 form-group">
                                    <label for="discount-promotion" class="form-label">Phần trăm khuyến mãi</label>
                                    <div class="input-group">
                                        <input step="any" ng-model="form_km.phanTramKhuyenMai" min="0" max="100" type="number"
                                            name="discount_promotion" id="discount-promotion"
                                            class="form-control box-shadow-none" placeholder=""
                                            aria-describedby="discount_promotion-label">
                                        <span class="input-group-text" id="discount_promotion-label">
                                            (%)</span>
                                    </div>

                                </div>
                            </div>
                            <div class="group-fleld group-fleld-03">
                                <div class="mb-3 form-group">
                                    <label for="id_name_promotion" class="form-label">Tên mã giảm giá</label>
                                    <input ng-model="form_km.tenKhuyenMai" type="text" name="id-name-promotion"
                                        id="id_name_promotion" class="form-control box-shadow-none" placeholder="">

                                </div>
                                <div class="mb-3 form-group">
                                    <label for="id_promotion" class="form-label">Mã giảm giá</label>
                                    <input ng-model="form_km.idKhuyenMai" type="text"
                                        style="pointer-events: none; background-color: var(--gray_100);"
                                        name="id_promotion" id="id_promotion" class="form-control box-shadow-none"
                                        placeholder="">
                                </div>
                            </div>

                            <div class="group-fleld group-fleld-04">
                                <button class="btn btn-style btn-clear"><i class="bi-brush"></i></button>
                                <button ng-click="update_km(form_km)" id="btn-update-km"
                                    class="btn btn-style btn-update">Cập nhật</button>
                                <button ng-click="create_km()" id="btn-add-km" class="btn btn-style btn-add">Thêm mới</button>
                            </div>
                            <hr style="width: 95%; margin: 20px auto;">
                            <div class="group-fleld group-fleld-05">
                                <div class="table-responsive ">
                                    <table class="table m-0">
                                        <div class="on-the-table">
                                            <h6 class="text-on-table text-title">Khuyến mãi sản phẩm</h6>
                                        </div>
                                        <thead>
                                            <tr class="table-active">
                                                <th scope="col" style="text-align: left;">
                                                    <form action="" method="post">
                                                        Mã giảm giá
                                                    </form>
                                                </th>
                                                <th scope="col">Phần trăm</th>
                                                <th scope="col">Ngày bắt đầu</th>
                                                <th scope="col">Ngày kết thúc</th>
                                                <th scope="col">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="km in list_km">
                                                <td scope=" row" class="td-first-table">
                                                    {{km.idKhuyenMai}}
                                                </td>
                                                <td>{{km.phanTramKhuyenMai * 100}}</td>
                                                <td>{{convert_date(km.ngayBatDau)}}</td>
                                                <td>{{convert_date(km.ngayKetThuc)}}</td>
                                                <td>
                                                    <button ng-click="edit_km(km)" class="btn btn-eidt"
                                                        style="color: var(--gray_600);"><i
                                                            class="bi bi-pen"></i></button>
                                                    <button ng-click="delete_km(km.idKhuyenMai)" class="btn" style="color: var(--gray_600);"><i
                                                            class="bi bi-trash"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td style="text-align: left;">
                                                    <button ng-if="infor_km.number == 0"
                                                        class="btn-style btn-prev m-0 disnable">Trước đó</button>
                                                    <button ng-if="infor_km.number > 0"
                                                        ng-click="paging_data_km(infor_km.number - 1)"
                                                        class="btn-style btn-prev m-0">Trước đó</button>
                                                    <button ng-if="infor_km.number < infor_km.totalPages - 1"
                                                        ng-click="paging_data_km(infor_km.number + 1)"
                                                        class="btn-style btn-next m-0">Kế tiếp</button>
                                                    <button ng-if="infor_km.number == infor_km.totalPages - 1"
                                                        class="btn-style btn-next m-0 disnable">Kế tiếp</button>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td style="text-align: center;">
                                                    Trang {{infor_km.number + 1}} của {{infor_km.totalPages}}
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/javascripts/manager-js/Manager-filter.js"></script>

</html>