/* title sale  */

.product-list-title-sale h3 {
  font-family: "EB Garamond";
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  margin: 50px 0 32px;
}

.sale {
  position: relative;
}

.sale span {
  position: absolute;
  right: 40px;
  background-color: black;
  width: 40px;
  height: 45px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 10px;
  z-index: 1;
}

article nav {
  align-items: center;
  justify-content: end;
  display: flex;
  margin-bottom: 30px;
}

.line {
  padding-bottom: 50px;
  border-bottom: 2px solid rgb(0, 0, 0);
}

/* product sale */
.product-list-price span {
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #98a2b3;
}

/* San pham */

.product-title-sale {
  color: var(--black, #000);
  /* Secondary/Bold */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 50px;
}
/* product list */

.product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.product a {
  text-decoration: none;
}

/* de tam  */
.product a h3:hover {
  color: #dc3545;
  text-decoration: underline;
}

.product .product {
  width: 200px;
  text-align: center;
}



.product .product-list-title {
  margin-top: 5px;
  color: #101828;
  text-decoration: none;
}

.product .product-list-description {
  margin-top: 5px;
}

aside {
  margin-top: 15px;
}

.product-list-title h3 {
  padding: 50px 0px 10px;
  font-family: "EB Garamond";
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
}

.product .product-list .product-list-title {
  color: #000;
  /* Primary/Semi-bold-24 */
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.48px;
}

.product .product-list .product-list-description {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #475467;
}

.product .product-list .product-list-price {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.035em;
  text-align: left;
}
.old-price {
  color: var(--gray-400, #98a2b3);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.product-list-price-new {
  color: #000;
  /* Primary/Medium-16 */
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 0%; /* 0px */
  letter-spacing: 0.56px;
}

/* zooohinh */
.sale {
  overflow: hidden;
}

.zoom_color img {
  height: auto;
  width: 100%;
  transition: transform 0.4s, filter 1.5s ease-in-out;

}
/* .product .product img {
  width: 100%;
  height: auto;
} */
.zoom_color img:hover {
  transform: scale(1.1);
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 300px; /* Điều chỉnh kích thước tối đa cho chiều cao */
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


