<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon web  -->
    <link rel="icon" type="image/x-icon" href="../../img/logoMark.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS: -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JavaScript: -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- link icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!--link css -->
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/Manager-style/manager-profile-page.css">
    <title>Manager revenue</title>
</head>

<body>
    <div class="background-manager">
        <nav id="Manager_Navigation" th:include="components/Manager-navigation"></nav>
        <div id="Manager_Content">
            <div class="header_content">
                <div class="background-profile">
                    <img src="https://firebasestorage.googleapis.com/v0/b/ztress-zear.appspot.com/o/stock-photo-1073420532.jpg?alt=media&token=d919ec37-b7bd-4c78-afe3-a1b66646f549"
                        alt="" class="background-profile-img">
                </div>
                <div class="avatar-group-profile">
                    <div class="avatar-left-group">
                        <div class="avatar-left-group-pic">
                            <img src="https://firebasestorage.googleapis.com/v0/b/ztress-zear.appspot.com/o/ChucPhuong.png?alt=media&token=c02128a9-0d05-4b56-9710-2d8b887f2377"
                                alt="" class="avata-img">
                        </div>
                        <div class="avatar-left-group-text">
                            <h4 class="account-name m-0">Olivia Rhye</h4>
                            <h6 class="account-email m-0">olivia@untitledui.com</h6>
                        </div>
                    </div>
                    <div class="avatar-right-group">
                        <button data-bs-toggle="modal" data-bs-target="#modal-profile"
                            class="btn btn-edit-profile">Chỉnh sửa cá nhân</button>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="body_content">
                <!-- Nav tabs -->
                <button class="btn-style" id="list-profile-tab"
                    style="border: 1px solid var(--gray_300); background-color: var(--gray_50); padding: 7px;"
                    data-bs-toggle="tab" data-bs-target="#list_profile" type="button" role="tab"
                    aria-controls="list_profile" aria-selected="true">Đổi mật khẩu</button>
                <hr>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="form_profile" role="tabpanel" aria-labelledby="form-profile-tab">
                        <div class="form_profile-pane">
                            <form action="/Manager/profile/create" method="post">
                                <div class="group-fleld group-fleld-03">
                                    <div class="mb-3 form-group">
                                        <label for="username_profile" class="form-label">Tên Đăng Nhập</label>
                                        <input type="text" name="username-profile" id="username_profile"
                                            class="form-control box-shadow-none input-form" placeholder="">
                                        <small id="username_profile-text" class="text-muted" style="display: none;">Vui
                                            lòng nhập số lượng sản phẩm</small>
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="password_profile" class="form-label">Mật khẩu</label>
                                        <input type="password" name="password-profile" id="password_profile"
                                            class="form-control box-shadow-none input-form" placeholder="">
                                        <small id="date_profile-text" class="text-muted" style="display: none;">Vui lòng
                                            nhập ngày đăng sản phẩm</small>
                                    </div>
                                </div>
                                <div class="group-fleld group-fleld-03">
                                    <div class="mb-3 form-group">
                                        <label for="newpassword_profile" class="form-label">Mật khẩu mới</label>
                                        <input type="password" name="newpassword-profile" id="newpassword_profile"
                                            class="form-control box-shadow-none input-form" placeholder="">
                                        <small id="newpassword_profile-text" class="text-muted"
                                            style="display: none;">Vui
                                            lòng nhập số lượng sản phẩm</small>
                                    </div>
                                    <div class="mb-3 form-group">
                                        <label for="confim_profile" class="form-label">Xác nhận</label>
                                        <input type="password" name="confim-profile" id="confim_profile"
                                            class="form-control box-shadow-none input-form" placeholder="">
                                        <small id="confim_profile-text" class="text-muted" style="display: none;">Vui
                                            lòng
                                            nhập ngày đăng sản phẩm</small>
                                    </div>
                                </div>
                                <div class="group-fleld group-fleld-012">
                                    <a href="/Manager/profile/clear" class="btn btn-style btn-clear">Làm mới</a>
                                    <button class="btn btn-style btn-update">Cập
                                        nhật</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="modal-profile" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">Thông tin cá nhân</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid p-0">
                        <div class="modal-background-avatar-profile">
                            <div class="modal-background-profile">
                                <img src="https://firebasestorage.googleapis.com/v0/b/ztress-zear.appspot.com/o/stock-photo-1073420532.jpg?alt=media&token=d919ec37-b7bd-4c78-afe3-a1b66646f549"
                                    alt="" class="background-profile-img" style="border-radius: 7px;">
                                <div id="spinner" class=" d-flex justify-content-center" style="position: absolute;">
                                    <div style="display: none;" class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                                <span id="upload-bg-pen"><i class="bi bi-pencil-square"></i></span>
                                <input type="file" id="upload_bg" style="display: none;">
                            </div>
                            <div class="modal-avatar-profile">
                                <div class="avatar">
                                    <img src="https://firebasestorage.googleapis.com/v0/b/ztress-zear.appspot.com/o/ChucPhuong.png?alt=media&token=c02128a9-0d05-4b56-9710-2d8b887f2377"
                                        alt="" class="avata-img">
                                    <span id="upload-avata-pen"><i class="bi bi-pen"></i></span>
                                </div>
                                <input type="file" id="upload_avatar" style="display: none;">
                            </div>
                        </div>
                        <br>
                        <div class="mb-3">
                            <label for="" class="form-label">Họ tên</label>
                            <input type="text" name="" id="" class="form-control" placeholder=""
                                aria-describedby="helpId">
                            <!-- <small id="helpId" class="text-muted">Help text</small> -->
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Giới Tính</label>
                            <select class="form-select form-control" name="" id="">
                                <option value="true" selected>Nam</option>
                                <option value="false">Nữ</option>
                            </select>
                            <!-- <small id="helpId" class="text-muted">Help text</small> -->
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Ngày sinh</label>
                            <input type="date" name="" id="" class="form-control" placeholder=""
                                aria-describedby="helpId">
                            <!-- <small id="helpId" class="text-muted">Help text</small> -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
                    <button type="button" style="background-color: var(--gray_800); border: none;"
                        class="btn btn-primary box-shadow-none">Cập nhật</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-storage.js"></script>
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyDzk3CBG4Cc0EGApODvEXqv8c1fmMSiOCQ",
            authDomain: "ztress-zear.firebaseapp.com",
            projectId: "ztress-zear",
            storageBucket: "ztress-zear.appspot.com",
            messagingSenderId: "558307648015",
            appId: "1:558307648015:web:5fbfe15cf8bdfa15ee397a"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>
    <script src="/javascripts/manager-js/Manager-profile.js"></script>
</body>
</html>