<footer>
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3 mb-3">
        <h5> <a href="/index"><img
              src="https://firebasestorage.googleapis.com/v0/b/ztress-zear.appspot.com/o/Logo_footer.png?alt=media&token=11f875c1-f04c-4d92-9f76-5f47d2620af1"
              style="background-color: #101828; color: aliceblue;" alt=""></a></h5>
        <ul class="nav flex-column footer-link my-5">
         <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Design amazing digital experiences that create more happy in the world.</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <h5>Product</h5>
        <ul class="nav flex-column footer-link">
          <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Overview</a></li>
          <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Solutions</a></li>
          <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Tutorials</a></li>
          <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Tutorials</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <h5>Trang khác</h5>
        <ul class="nav flex-column footer-link">
          <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang giới thiệu</a></li>
          <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang liên hệ</a></li>
          <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang sản phẩm</a></li>
          <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang cá nhân</a></li>
          <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Trang cài đặt</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <h5>Mạng xã hội</h5>
        <ul class="nav flex-column footer-link">
          <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Twitter</a></li>
          <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Linkedln</a></li>
          <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Facebook</a></li>
          <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">GitHub</a></li>
          <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">AngelList</a></li>
          <li class="nav-item mb-2"><a href="#" class="text-footer p-0 ">Dribble</a></li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <div class="logo-footer">
        <a href="#"><img src="img/Logowebsite.png" alt=""></a>
      </div>


      <p class="text-white-50">© 2023 Company, Inc. All rights reserved.</p>
    </div>
  </div>
</footer>