
<header id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000"
data-bs-delay="1000">
<ol class="carousel-indicators mb-4">
  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
  <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
</ol>
<div class="carousel-inner banner-slide">
  <div class="carousel-item active">
    <div class="banner-content my-5">
      <h2>Gen Z <br>
        Bộ sưu tập</h2><br>
      <p>Bộ sưu tập thời trang Gen Z là một sự kết hợp<br> độc đáo và sáng tạo của nhiều phong cách,
        <br>màu sắc và chất liệu.
      </p>
    </div>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/ztress-zear.appspot.com/o/img_project%2Fbanner.jfif?alt=media&token=e30d0d81-6876-4f5e-97f8-33ca9f4fe3c4"
      class="d-block w-100 carousel-img" alt="Slide 1">
  </div>
  <div class="carousel-item">
    <div class="banner-content">
      <h2>Staple Distraught <br> Baggy Jeans Black</h2><br>
      <span class="price">5,650,000₫</span><br><br>
      <p>
        If you are not 100% satisfied with your purchase, <br>you can return your item(s) to us for
        <br>an immediate exchange.
      </p>
    </div>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/ztress-zear.appspot.com/o/img_project%2Fbanner2.jfif?alt=media&token=08f7239b-09e4-4ce6-a28a-0741c4dffc0f"
      class="d-block w-100 carousel-img" alt="Slide 2">
  </div>
  <div class="carousel-item">
    <div class="banner-content">
      <h2>WNDRR Wild Hunt <br> Vintage Fit Tee <br>Washed </h2><br>
      <span class="price">5,650,000₫</span><br><br>
      <p>
        WNDRR is a modern take on classic streetwear <br>with a unique clever style without forgetting a
        <br>
        touch of fun and a nod to the '80-'90s.
      </p>
    </div>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/ztress-zear.appspot.com/o/img_project%2Fbanenr3.jfif?alt=media&token=ec763a6b-260f-41c2-8088-20ed21e59565"
      class="d-block w-100 carousel-img" alt="Slide 3">
  </div>
</div>
</header>