<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a href="/index"><img
        src="https://firebasestorage.googleapis.com/v0/b/ztress-zear.appspot.com/o/Logo%20website.png?alt=media&token=e446c505-b0a6-44a8-aad5-f7caccb1c28b"
        style="background-color: var(--gray_25);" alt=""></a>
    <div class="navbar-collapse">
      <ul class="navbar-nav item-menu">
        <li class="nav-item">
          <a class="nav-link" href="/about-page">Giới thiệu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact-page">Liên hệ</a>
        </li>
        <li class="nav-item dropdown dropdown-hover has-megamenu">
          <a class="nav-link " th:href="@{/User/product}"> Sản phẩm <i class="bi bi-chevron-down"></i></a>
          <div class="dropdown-menu megamenu" role="menu">
            <div class="row g-3">
              <div class="col-lg-4 col-6 item-group">
                <div class="col-megamenu">
                  <h6 class="title ">Loại quần áo</h6>
                  <ul class="list-unstyled">
                    <li class="item-opsition-menu pb-2" th:each="i : ${#numbers.sequence(0, 4)}">
                      <th:block th:if="${nhomloai != null and i < nhomloai.size()}">
                        <a th:href="@{/User/productlist/{nhomloai}(nhomloai=${nhomloai[i].idNhomLoai})}"
                          th:text="${nhomloai[i].tenNhomLoai}"></a>
                        <p th:text="${nhomloai[i].moTaNhomLoai}"></p>
                      </th:block>
                    </li>
                  </ul>
                </div> <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
              <div class="col-lg-4 col-6 item-group">
                <div class="col-megamenu">
                  <h6 class="title">&#160;</h6>
                  <ul class="list-unstyled">
                    <li class="item-opsition-menu pb-2" th:each="i : ${#numbers.sequence(5, 8)}">
                      <th:block th:if="${nhomloai != null and i < nhomloai.size()}">
                        <a th:href="@{/User/productlist/{nhomloai}(nhomloai=${nhomloai[i].idNhomLoai})}"
                          th:text="${nhomloai[i].tenNhomLoai}"></a>
                        <p th:text="${nhomloai[i].moTaNhomLoai}"></p>
                      </th:block>
                    </li>
                  </ul>
                </div> <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
              <div class="col-lg-4 col-6 room-group">
                <div class="col-megamenu">
                  <h6 class="title">Danh mục sản phẩm</h6>
                  <ul class="list-unstyled ">
                    <li class="item-opsition-menu pb-2 ">
                      <div class="d-flex align-items-center">
                        <span class="material-symbols-sharp me-3">
                          laundry
                        </span>
                        <div class="nav-icon">
                          <a href="product-item-page">Danh mục áo - Tops</a>
                          <p>Analyze conversion rates.</p>
                        </div>
                      </div>
                    </li>
                    <li class="item-opsition-menu pb-2 ">
                      <div class="d-flex align-items-center">
                        <span class="material-symbols-sharp me-3">
                          taunt
                        </span>
                        <div class="nav-icon">
                          <a href="#">Danh mục quần - Bottoms</a>
                          <p>Measure active usage.</p>
                        </div>
                      </div>
                    </li>
                    <li class="item-opsition-menu pb-2 ">
                      <div class="d-flex align-items-center">
                        <span class="material-symbols-sharp me-3">
                          man_2
                        </span>
                        <div class="nav-icon">
                          <a href="product-item-page">Quần áo nam - Male</a>
                          <p>Find retention drivers.</p>
                        </div>
                      </div>
                    </li>
                    <li class="item-opsition-menu pb-2 ">
                      <div class="d-flex align-items-center">
                        <span class="material-symbols-sharp me-3">
                          woman_2
                        </span>
                        <div class="nav-icon">
                          <a href="product-item-page">Quần áo nữ - Female</a>
                          <p>Grow your user base faster.</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div> <!-- col-megamenu.// -->
              </div>
            </div><!-- end row -->
          </div> <!-- dropdown-mega-menu.// -->
        </li>
        <li class="nav-item">
          <form class="d-flex mx-5 w-75" method="POST" action="/User/product/search">
            <div class="input-group">
              <input class="form-control me-2" name="search" type="text" placeholder="Tìm kiếm">
            </div>
            <button class="btn btn-secondary" type="submit">Search</button>
          </form>
          
          
        </li>
      </ul>

    </div>
    <!-- <ul class="navbar-nav item-menu ms-auto signin-group">
          <li class="nav-item">
              <a class="nav-link login" href="login-page">Đăng nhập</a>
          </li>
          <li class="nav-item sign-navbar ">
              <a class="nav-link sigin" href="sign-up-page">Đăng ký</a>
          </li>
      </ul> -->

    <div class="registered-group">
      <div class="registered-group-cart registered-item">
        <a class="bi bi-bag" th:href="@{/User/product/sale}">
          <span class="number-item">{{cart.count}}</span></a>
      </div>
      <ul class="navbar-nav item-menu ms-auto signin-group" th:unless="${#request.remoteUser}">
        <li class="nav-item">
          <a class="nav-link login" th:href="@{/auth/login/form}">Đăng nhập</a>
        </li>
        <li class="nav-item sign-navbar ">
          <a class="nav-link sigin" th:href="@{/auth/login/form}">Đăng ký</a>
        </li>
      </ul>


      <div class="registered-group-account registered-item" th:if="${#request.remoteUser}"
        th:object="${#request.userPrincipal}">
        <div class="registered-group-account-text">
          <div th:if="${#session.getAttribute('oAuth2') != null}" class="registered-group-account-name-text">[[*{name.substring(0 ,name.indexOf("@"))}]]</div>
          <div th:if="${#session.getAttribute('oAuth2') == null}" class="registered-group-account-name-text"></div>
        </div>
        <p style="color: rgb(59, 52, 52);"></p>
        <div class="registered-group-account-img dropdown">
          <img th:if="${#session.getAttribute('oAuth2') != null}" class="img-avata-registered" th:src="${#session.getAttribute('picture')}" alt="Avatar" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <img th:if="${#session.getAttribute('oAuth2') == null}" class="img-avata-registered" src="" alt="Avatar" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton"
            style="right: 50%; left: auto;  transform: translateX(50%); ">
            <li><a class="dropdown-item" th:href="@{/person}">Hồ sơ cá nhân</a></li>
            <li><a class="dropdown-item" th:href="@{/changePassword}">Đổi mật khẩu</a></li>

            <li><a class="dropdown-item" href="/auth/logoff">Đăng xuất</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</nav>