* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font_tertiary);
}

/* ------------------------------- Manager_Content ------------------------------- */

#Manager_Content {
    width: 80%;
    background-color: white;
    margin: 10px;
    overflow: auto;
}

#Manager_Content .header_content {
    width: 100%;
    height: fit-content;
   
}

#Manager_Content .header_content .background-profile {
    width: 100%;
    height: 250px;
}

 .background-profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#Manager_Content .avatar-group-profile {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -15px;
}

#Manager_Content .avatar-group-profile .avatar-left-group  {
    display: flex;
    align-items: center;
}

#Manager_Content  .avatar-left-group-pic {
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

.avata-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%
}

#Manager_Content  .avatar-left-group-text .account-name{
    font-size: 20px;
    font-weight: 500;
    margin: 3px 0 !important ;
}
#Manager_Content  .avatar-left-group-text .account-email{
    font-size: 15px;
    font-weight: 400;
    margin: 3px 0 !important ;
}

#Manager_Content .btn-edit-profile {
    background-color: var( --gray_800);
    color: white;
    border-radius: 3px;
    transition: 0.5s;
}

#Manager_Content .btn-edit-profile:hover {
    background-color: var( --gray_900);
}


/* body */

#Manager_Content  .body_content {
    width: 95%;
    margin: 0 auto;
}


#Manager_Content  .body_content .body_content_tabs {
    width: fit-content;
    border: none;
    border-radius: 3px;
}


#Manager_Content  .body_content .body_content_tabs .btn-style  {
    padding: 8px 12px;
    border-radius: 3px;
    border: none; 
    background-color: white;
}

#Manager_Content  .body_content .body_content_tabs .btn-style:focus-within  {
    background-color: var(--gray_50);
    border: 1px solid var(--gray_300) ;
}


/* ------------ list profile Manager_Content ---------------- */

#Manager_Content #list_profile .list_profile-header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Manager_Content #list_profile .list_profile-header .list_profile-header-seletion-group form {
    display: flex;
}

 
#Manager_Content #list_profile .list_profile-header-seletion-group .form-select  {
    font-size: 15px;
    padding: 6px 30px 6px 12px ;
    font-family: var(--font_tertiary);
    font-weight: 500;
    color: var(--gray_800);
    border: 1.5px solid var(--gray_300);
    border-radius: 3px;
    cursor: pointer;
}

#Manager_Content #list_profile .list_profile-header-seletion-group .form-select:focus {
    box-shadow: none;

}

/* ------------ form profile Manager_Content ---------------- */
#Manager_Content  #form_profile  .form_profile-pane {
    width: 100%;
    border: 2px solid var(--gray_200);
    border-radius: 5px;
    margin-bottom: 20px;
}

#Manager_Content #form_profile .group-fleld {
    width: 95%;
    margin: 10px auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#Manager_Content #form_profile .group-fleld .title-order {
    margin: 10px 0;
    font-family: var(--font_tertiary);
    font-weight: 600;
}

#Manager_Content #form_profile .group-fleld .form-group {
    width: calc((100% - 2.5%)/3);
}


#Manager_Content #form_profile .group-fleld-04 .form-group,
#Manager_Content #form_profile .group-fleld-06 .form-group,
#Manager_Content #form_profile .group-fleld-07 .form-group,
#Manager_Content #form_profile .group-fleld-011 .form-group {
    width: 100%;
}



#Manager_Content #form_profile .group-fleld-03 .form-group,
#Manager_Content #form_profile .group-fleld-010 .form-group  {
    width: calc((100% - 2.5%)/2);
}

#Manager_Content #form_profile .group-fleld-05 .form-group {
    width: calc((100% - 2.5%)/3);
}
#Manager_Content #form_profile .group-fleld .on-the-table,
#profile-samples .modal-body .group-fleld .on-the-table  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}

#Manager_Content #form_profile .group-fleld .on-the-table .on-the-table-title,
#profile-samples .modal-body .on-the-table .on-the-table-title {
    font-family: var(--font_tertiary);
    color: var(--gray_900);
    font-weight: 600;
}

#Manager_Content #form_profile .group-fleld .on-the-table .btn-style,
#profile-samples .modal-body .on-the-table .btn-style {
    font-family: var(--font_tertiary);
    padding: 8px 15px;
    border-radius: 4px;
    margin: 0 5px;
}

#Manager_Content #form_profile .group-fleld .on-the-table .on-the-table-button,
#profile-samples .modal-body .on-the-table .on-the-table-button {
    font-family: var(--font_tertiary);
    color: var(--gray_100);
    background-color: var(--gray_700);
    padding: 8px 15px;
    border-radius: 4px;
    margin: 0 5px;
}






#Manager_Content #form_profile .group-fleld .form-group .form-select {
    color: var(--gray_900) !important;
    font-weight: 600 ;
}

#Manager_Content .group-fleld-06 .table-responsive thead th:first-child{
    width: 65% !important;
}

#Manager_Content .group-fleld-06,
#profile-samples .modal-body .group-fleld-07 {
    position: relative;
}

#Manager_Content .group-fleld-06 .on-the-table,
#profile-samples .modal-body .group-fleld-07 .on-the-table{
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid var(--gray_200);

}

#Manager_Content .group-fleld-06 .table-responsive tr,
#profile-samples .modal-body .group-fleld-07 .table-responsive tr{
    border-bottom: 1px solid var(--gray_200);
}


#Manager_Content #form_profile .group-fleld-012,
#profile-samples .modal-body .group-fleld-012 {
    justify-content: right;
}


#Manager_Content #form_profile .group-fleld-012 .btn,
#profile-samples .modal-body .group-fleld-012 .btn {
    padding: 10px 20px;
    margin: 10px;
    transition: 0.5s;
}


#Manager_Content #form_profile .group-fleld-012 .btn-clear:hover,
#profile-samples .modal-body .group-fleld-012 .btn-clear:hover {
    background-color: var(--gray_300);
}

#Manager_Content #form_profile .group-fleld-012 .btn:last-child,
#profile-samples .modal-body .group-fleld-012  .btn:last-child {
    margin-right: 0;
    background-color: var(--gray_900);
    color: var(--gray_50);
}

#Manager_Content #form_profile .group-fleld-012 .btn:last-child:hover,
#profile-samples .modal-body .group-fleld-012 .btn:last-child:hover {
    background-color: var(--gray_1000);
  
}

#Manager_Content #form_profile .group-fleld-012 .btn-update,
#profile-samples .modal-body .group-fleld-012 .btn-update {
    margin-right: 0;
    background-color: var(--gray_100);
    color: var(--gray_700);
}

#Manager_Content #form_profile .group-fleld-012 .btn-update:hover,
#profile-samples .modal-body .group-fleld-012 .btn-update:hover {
    margin-right: 0;
    background-color: var(--gray_300);
    color: var(--gray_700);
}




#Manager_Content #form_profile .form-group .form-label {
    font-family: var(--font_tertiary);
    font-size: 14px;
    font-weight: 500;
}

#Manager_Content #form_profile .form-group .form-control {
    font-family: var(--font_tertiary);
    font-size: 16px;
    font-weight: 400;
    color: var(--gray_500);
    box-shadow: 0px 1px var(--gray_300);
}


/* ------------ form profile Manager_Content ---------------- */



/* ------------------------------- body Manager_Content ------------------------------- */


/* ----------------- Modal ----------------- */
#profile-samples .modal-body .group-fleld {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#profile-samples .modal-body .group-fleld .form-group {
    width: calc((100% - 2.5%)/3) !important;
}

#profile-samples .modal-body .group-fleld-02 .form-group {
    width: calc((100% - 2.5%)/2) !important;
}

#profile-samples .modal-body  .check-box-size  {
    border: 1px solid var(--gray_300);
    padding: 10px;
    border-radius: 5px;
}

#profile-samples .modal-body  .check-box-size {
    border: 1px solid var(--gray_300);
    padding: 10px;
    border-radius: 5px;
}

#profile-samples .modal-body  .check-box-size input[type=checkbox] {
    width: 20px;
    height: 20px;
    padding: 6px;
}

#profile-samples .modal-body .group-fleld-07 .form-group {
    width: 100%;
}

#profile-samples .modal-body .group-fleld-012{
    justify-content: right !important;
}

#profile-samples .modal-body .check-box-size{
    transition: 0.5s;
    cursor: pointer;
}

#profile-samples .modal-body .check-box-size:hover {
    background-color: var(--gray_100);
}



/*----------- modal -----------*/
.modal-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal-footer button {
    width: calc((100%/2) - 2%);
    border-radius: 3px;
    font-weight: 500;
}

.modal-background-avatar-profile{
    width: 100%;
    height: fit-content;
}

.modal-background-avatar-profile .modal-background-profile {
    height: 200px;
    border-radius: 5px;
    background-color: antiquewhite;
    position: relative;
}


.avatar {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: -20px;
    position: relative;
}

#upload-bg-pen {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 2;
    background-color: var(--gray_100);
    padding: 10px;
    border-radius: 50%;
    transition: 0.5s;
    padding: 8px 10px;
    cursor: pointer;
}



#upload-bg-pen:hover {
   background-color: rgb(196, 196, 196);   
}

#upload-avata-pen {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    background-color: var(--gray_100);
    padding: 10px;
    border-radius: 50%;
}

#spinner {
    top: 40%;
    left: 46%;
}
