<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="header-navigation">
    <div class="header-navigation-logo">
        <img src="../img/Logo website (1).png" alt="" class="header-navigation-logo-img">
    </div>
</div>
<div class="body-navigation">
    <ul class="body-navigation-menu menu-style">
        <li class="body-navigation-li"><a href="/Manager/revenue" class="body-navigation-link text-link"><i
                    class="bi bi-bar-chart icon-text"></i> Doanh thu</a></li>
        <li class="body-navigation-li"><a href="/Manager/order" class="body-navigation-link text-link"><i
                    class="bi bi-handbag icon-text"></i> Đơn hàng</a></li>
        <li class="body-navigation-li"><a href="/Manager/filter" class="body-navigation-link text-link"><i
                    class="bi bi-list-ul icon-text"></i> Phân loại</a></li>
        <li class="body-navigation-li"><a href="/Manager/product" class="body-navigation-link text-link"><i
                    class="bi bi-box icon-text"></i> Sản phẩm</a></li>
        <li class="body-navigation-li"><a href="/Manager/account" class="body-navigation-link text-link"><i
                    class="bi bi-people icon-text"></i>Tài khoản</a></li>
    </ul>
</div>

<div class="footer-nagvigation">
    <div class="footer-nagvigation-content">
        <div class="footer-nagvigation-account">
            <h4 class="footer-nagvigation-account-name d-flex" style="align-items: center; "><i class="bi bi-box-arrow-right icon-text" style="margin-right: 5px;"></i>  Đăng xuất</h4>
        </div>
    </div>
    <hr style=" border-top: 1px solid var(--gray_100) ; width: 90%; margin: 5px auto;">
    <div class="footer-nagvigation-content">
        <div class="footer-nagvigation-account">
            <h4 class="footer-nagvigation-account-name">Olivia Rhye</h4>
            <h6 class="footer-nagvigation-account-email">olivia@untitledui.com</h6>
        </div>
    </div>

</div>


</html>