<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h3 th:unless="${#request.remoteUser}">
            <i style="color: red;">Chưa đăng nhập</i>
        </h3>
        <th:block th:if="${#request.remoteUser}">
            <h3 style="color: blue;">Authentication Information</h3>
            <ul>
                <li>Username: <b>[[${#request.remoteUser}]]</b></li>
                <!-- <li>Is Admin? <b>[[${#request.isUserInRole('ADMIN')}]]</b></li> -->
            </ul>
            <ul th:object="${#request.userPrincipal}">
                <li>Username: <b>[[*{name}]]</b></li>
                <li>Roles: <b>[[*{authorities}]]</b></li>
            </ul>
        </th:block>
    </main>
    
</body>
</html>