<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <!-- icon web  -->
    <link rel="website icon" type="png"
        href="https://firebasestorage.googleapis.com/v0/b/ztress-zear.appspot.com/o/Logo%20website.png?alt=media&token=e446c505-b0a6-44a8-aad5-f7caccb1c28b">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS: -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap JavaScript: -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Augularjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- link icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/product.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <title>Sản phẩm</title>

</head>

<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a href="/home-page"><img
              src="https://firebasestorage.googleapis.com/v0/b/ztress-zear.appspot.com/o/Logo%20website.png?alt=media&token=e446c505-b0a6-44a8-aad5-f7caccb1c28b"
              style="background-color: var(--gray_25);" alt=""></a>
          <div class="navbar-collapse">
            <ul class="navbar-nav item-menu">
              <li class="nav-item">
                <a class="nav-link" href="/about-page">Giới thiệu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact-page">Liên hệ</a>
              </li>
              <li class="nav-item dropdown dropdown-hover has-megamenu">
                <a class="nav-link " href="/product-page"> Sản phẩm <i class="bi bi-chevron-down"></i></a>
                <div class="dropdown-menu megamenu" role="menu">
                  <div class="row g-3">
                    <div class="col-lg-4 col-6 item-group">
                      <div class="col-megamenu">
                        <h6 class="title ">Loại quần áo</h6>
                        <ul class="list-unstyled ">
                          <li class="item-opsition-menu pb-2 "><a href="/product-item-page">Áo thun -
                              T-shirt</a>
                            <p>Find the best solution for you.</p>
                          </li>
                          <li class="item-opsition-menu pb-2 "><a href="/product-item-page">Áo tay dài
                              - Long Sleeves</a>
                            <p>Monitor your metrics.</p>
                          </li>
                          <li class="item-opsition-menu pb-2 "><a href="/product-item-page">Áo len -
                              Sweaters</a>
                            <p>Surface hidden trends.</p>
                          </li>
                          <li class="item-opsition-menu pb-2 "><a href="/product-item-page">Áo hoodie
                              - Hoodie</a>
                            <p>Measure B2B account health.</p>
                          </li>
    
                        </ul>
                      </div> <!-- col-megamenu.// -->
                    </div><!-- end col-3 -->
                    <div class="col-lg-4 col-6 item-group">
                      <div class="col-megamenu">
                        <h6 class="title">&#160;</h6>
                        <ul class="list-unstyled">
    
                          <li class="item-opsition-menu pb-2 "><a href="/product-item-page">Quần dài -
                              Pants
                            </a>
                            <p>Analyze conversion rates.</p>
                          </li>
                          <li class="item-opsition-menu pb-2 "><a href="/product-item-page">Quần ngắn
                              - ShortShort</a>
                            <p>Measure active usage.</p>
                          </li>
                          <li class="item-opsition-menu pb-2 "><a href="/product-item-page">Váy -
                              Skirt</a>
                            <p>Find retention drivers./p>
                          </li>
                          <li class="item-opsition-menu pb-2 "><a href="/product-item-page">Phụ kiện -
                              Accessory
                              goods</a>
                            <p>Grow your user base faster.</p>
                          </li>
                        </ul>
                      </div> <!-- col-megamenu.// -->
                    </div><!-- end col-3 -->
                    <div class="col-lg-4 col-6 room-group">
                      <div class="col-megamenu">
                        <h6 class="title">Danh mục sản phẩm</h6>
                        <ul class="list-unstyled ">
                          <li class="item-opsition-menu pb-2 ">
                            <div class="d-flex align-items-center">
                              <span class="material-symbols-sharp me-3">
                                laundry
                              </span>
                              <div class="nav-icon">
                                <a href="product-item-page">Danh mục áo - Tops</a>
                                <p>Analyze conversion rates.</p>
                              </div>
                            </div>
                          </li>
                          <li class="item-opsition-menu pb-2 ">
                            <div class="d-flex align-items-center">
                              <span class="material-symbols-sharp me-3">
                                taunt
                              </span>
                              <div class="nav-icon">
                                <a href="#">Danh mục quần - Bottoms</a>
                                <p>Measure active usage.</p>
                              </div>
                            </div>
                          </li>
                          <li class="item-opsition-menu pb-2 ">
                            <div class="d-flex align-items-center">
                              <span class="material-symbols-sharp me-3">
                                man_2
                              </span>
                              <div class="nav-icon">
                                <a href="product-item-page">Quần áo nam - Male</a>
                                <p>Find retention drivers.</p>
                              </div>
                            </div>
                          </li>
                          <li class="item-opsition-menu pb-2 ">
                            <div class="d-flex align-items-center">
                              <span class="material-symbols-sharp me-3">
                                woman_2
                              </span>
                              <div class="nav-icon">
                                <a href="product-item-page">Quần áo nữ - Female</a>
                                <p>Grow your user base faster.</p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div> <!-- col-megamenu.// -->
                    </div>
                  </div><!-- end row -->
                </div> <!-- dropdown-mega-menu.// -->
              </li>
              <li class="nav-item">
                <form class="d-flex mx-5 w-100">
                  <div class="input-group">
                    <input class="form-control me-2" type="search" placeholder="        Tìm kiếm" aria-label="Search">
                    <span class="input-group-icon material-symbols-outlined">
                      search
                    </span>
                  </div>
    
                </form>
              </li>
            </ul>
    
          </div>
          <!-- <ul class="navbar-nav item-menu ms-auto signin-group">
                <li class="nav-item">
                    <a class="nav-link login" href="login-page">Đăng nhập</a>
                </li>
                <li class="nav-item sign-navbar ">
                    <a class="nav-link sigin" href="sign-up-page">Đăng ký</a>
                </li>
            </ul> -->
    
          <div class="registered-group">
            <!-- <div class="registered-group-search registered-item">
                  <i class="bi bi-search"></i>
              </div> -->
            <div class="registered-group-cart registered-item">
              <a class="bi bi-bag" th:href="@{/User/product/sale}"></a>
              <span class="number-item"> {{cart.count}}</span>
            </div>
            <div class="registered-group-account registered-item">
              <div class="registered-group-account-text">
                <div class="registered-group-account-name-text">Thiện LC</div>
                <div class="registered-group-account-email-text">Lethien@gmail.com</div>
              </div>
              <div class="registered-group-account-img dropdown">
                <img class="img-avata-registered"
                  src="https://firebasestorage.googleapis.com/v0/b/future-interior.appspot.com/o/Null.png?alt=media"
                  alt="Avatar" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                  style="right: 50%; left: auto;  transform: translateX(50%); ">
                  <li><a class="dropdown-item" th:href="@{/person}">Hồ sơ cá nhân</a></li>
                  <li><a class="dropdown-item" th:href="@{/changePassword}">Đổi mật khẩu</a></li>
    
                  <li><a class="dropdown-item" th:href="@{/dangxuat}">Đăng xuất</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    
  
    <header id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000"
        data-bs-delay="1000">
        <ol class="carousel-indicators mb-4">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner banner-slide">
            <div class="carousel-item active">
                <div class="banner-content my-5">
                    <h2>Gen Z <br>
                        Bộ sưu tập</h2><br>
                    <p>Bộ sưu tập thời trang Gen Z là một sự kết hợp<br> độc đáo và sáng tạo của nhiều phong cách,
                        <br>màu sắc và chất liệu.
                    </p>
                </div>
                <img src="https://firebasestorage.googleapis.com/v0/b/ztress-zear.appspot.com/o/img_project%2Fbanner.jfif?alt=media&token=e30d0d81-6876-4f5e-97f8-33ca9f4fe3c4"
                    class="d-block w-100 carousel-img" alt="Slide 1">
            </div>
            <div class="carousel-item">
                <div class="banner-content">
                    <h2>Staple Distraught <br> Baggy Jeans Black</h2><br>
                    <span class="price">5,650,000₫</span><br><br>
                    <p>
                        If you are not 100% satisfied with your purchase, <br>you can return your item(s) to us for
                        <br>an immediate exchange.
                    </p>
                </div>
                <img src="https://firebasestorage.googleapis.com/v0/b/ztress-zear.appspot.com/o/img_project%2Fbanner2.jfif?alt=media&token=08f7239b-09e4-4ce6-a28a-0741c4dffc0f"
                    class="d-block w-100 carousel-img" alt="Slide 2">
            </div>
            <div class="carousel-item">
                <div class="banner-content">
                    <h2>WNDRR Wild Hunt <br> Vintage Fit Tee <br>Washed </h2><br>
                    <span class="price">5,650,000₫</span><br><br>
                    <p>
                        WNDRR is a modern take on classic streetwear <br>with a unique clever style without forgetting a
                        <br>
                        touch of fun and a nod to the '80-'90s.
                    </p>
                </div>
                <img src="https://firebasestorage.googleapis.com/v0/b/ztress-zear.appspot.com/o/img_project%2Fbanenr3.jfif?alt=media&token=ec763a6b-260f-41c2-8088-20ed21e59565"
                    class="d-block w-100 carousel-img" alt="Slide 3">
            </div>
        </div>
    </header>
    <!-- title nội dụng chính  -->
    <aside>
        <div class="container">
            <div class="product-title-sale ">
                <h2>Sản phẩn khuyến mãi</h2>
            </div>
            <div class="product row">
                <div class="product-list col-3 my-3" th:each="product : ${products}" th:if="${product.khuyenMaiSP != null}">
                   
                    <a th:href="@{'/User/product/edit/' + ${product.idSanPham}}">
                        <div class="zoom_color sale">
                            <span class="product-list-onsale"
                                  th:text="${#numbers.formatDecimal(product.khuyenMaiSP.phanTramKhuyenMai, 0, 0)} + '%'"></span>
                            <!-- <img th:if="${product.ListSPCT_SP.size() > 0}"
                                 th:src="@{'/img/' + ${product.ListSPCT_SP[0].ListDSHA_SPCT[0].idHinhAnh} + '.png'}"
                                 alt="Hình ảnh"> -->
                        </div>
                        <h3 class="product-list-title" th:text="${product.tenSanPham}"></h3>
                    </a>
                    <p class="product-list-description" th:text="${product.moTaSanPham}"></p>
                    <div>
                        <p th:if="${product.khuyenMaiSP == null}" class="product-list-price"
                           th:text="${#numbers.formatDecimal(product.giaSanPham, 0, 'COMMA', 0, 'POINT')} + ' đ'"></p>
                        <p class="product-list-price-new" th:if="${product.khuyenMaiSP != null}">
                            <span th:text="${#numbers.formatDecimal(product.giaSanPham * (1 - product.khuyenMaiSP.phanTramKhuyenMai / 100), 0, 'COMMA', 0, 'POINT')} + ' đ'"></span>
                            <del class="old-price mx-3" th:text="${#numbers.formatDecimal(product.giaSanPham, 0, 'COMMA', 0, 'POINT')} + ' đ'"></del>
                        </p>
                    </div>
                    
                </div>
                


            </div>
        </div>
    </aside>


    <article>
        <div class="container">
            <div class="product-title-sale my-2 d-flex justify-content-start">
                <h2>Tất cả sản phẩm</h2>
            </div>
            <div class="product row">
                <div class="product-list col-3 my-3" th:each="product : ${products}">
                    <a th:href="@{'/User/product/edit/' + ${product.idSanPham}}">
                        <div class="zoom_color sale">
                            <span class="product-list-onsale" th:if="${product.khuyenMaiSP != null}"
                            th:text="${#numbers.formatDecimal(product.khuyenMaiSP.phanTramKhuyenMai, 0, 0)} + '%'">
                        </span>
                            <!-- <th:block th:each="product_hinhanh : ${product.ListSPCT_SP}">
                                <img th:src="@{'/img/' + ${product_hinhanh.ListDSHA_SPCT[0].idHinhAnh} + '.png'}"
                                    alt="Hình ảnh">
                            </th:block> -->
                        </div>
                        <h3 class="product-list-title" th:text="${product.tenSanPham}"></h3>
                    </a>
                    
                    <p class="product-list-description" th:text="${product.moTaSanPham}"></p>
                    <div>
                        <p th:if="${product.khuyenMaiSP == null}" class="product-list-price"
                            th:text="${#numbers.formatDecimal(product.giaSanPham, 0, 'COMMA', 0, 'POINT')} + ' đ'"></p>
                            <p class="product-list-price-new" th:if="${product.khuyenMaiSP != null}">
                                <span th:text="${#numbers.formatDecimal(product.giaSanPham * (1 - product.khuyenMaiSP.phanTramKhuyenMai / 100), 0, 'COMMA', 0, 'POINT')} + ' đ'"></span>
                                <del class="old-price mx-3" th:text="${#numbers.formatDecimal(product.giaSanPham, 0, 'COMMA', 0, 'POINT')} + ' đ'"></del>
                            </p>
                            
                    </div>

                </div>

            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:if="${currIndex}>0"><a class="page-link text-white bg-dark "
                            th:href="@{/User/User-product/page?p=__${currIndex-1}__}" href="#">Previous</a></li>
                    <tr th:each="i: ${#numbers.sequence(0, numberOfPages - 1)}">
                        <li class="page-item"><a th:style="${'background-color:' + (i==currIndex?'lightgrey':'white')}"
                                th:href="@{/User/User-product/page?p=__${i}__}" class="page-link text-dark" href="#"
                                th:text="${i+1}"></a></li>
                    </tr>
                    <li class="page-item " th:if="(${currIndex}>-1 and (${currIndex})<${numberOfPages-1})"><a
                            class="page-link text-white bg-dark " th:href="@{/User/User-product/page?p=__${currIndex+1}__}"
                            href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </article>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-3 mb-3">
                    <h5>Sản phẩm</h5>
                    <ul class="nav flex-column footer-link">
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">BÀN - tables</a>
                        </li>
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">SOFA - sofas</a>
                        </li>
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">TỦ - cabinets</a>
                        </li>
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">GHẾ - chairs</a>
                        </li>
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">ĐÈN - lamps</a>
                        </li>
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">KỆ - shelf
                                units</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-3">
                    <h5>Phòng</h5>
                    <ul class="nav flex-column footer-link">
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">PHÒNG KHÁCH -Living
                                room</a></li>
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">PHÒNG NGỦ -
                                Bedroom</a></li>
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">PHÒNG BẾP - Kitchen
                                room</a></li>
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">PHÒNG TẮM -
                                Bathroom</a></li>
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">PHÒNG LÀM VIỆC -
                                Office</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-3">
                    <h5>Trang khác</h5>
                    <ul class="nav flex-column footer-link">
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">Trang giới
                                thiệu</a></li>
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">Trang liên hệ</a>
                        </li>
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">Trang bài viết</a>
                        </li>
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">Trang cá nhân</a>
                        </li>
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">Trang cài đặt</a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-3">
                    <h5>Mạng xã hội</h5>
                    <ul class="nav flex-column footer-link">
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">Twitter</a></li>
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">Linkedln</a></li>
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">Facebook</a></li>
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">GitHub</a></li>
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">AngelList</a></li>
                        <li class="nav-item mb-2"><a href=product-item-page class="text-footer p-0 ">Dribble</a></li>
                    </ul>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <div class="logo-footer">
                    <a href=product-item-page><img src="img/Logowebsite.png" alt=""></a>
                </div>


                <p class="text-white-50">© 2023 Company, Inc. All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>

<script src="/javascripts/shopping-cart-app.js"></script>
</html>